<div class="slider-area slider-style-2 company">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-static-content">
        </div>
      </div>
    </div>
  </div>
</div>

<app-page-title title="Historia"></app-page-title>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br/><br/>
      <p>
        Somos Bioxel, una empresa familiar uruguaya fundada en 1987 por Carlos Bonilla como miembro fundador y gerente general. En su comienzo bajo el nombre de Basa Uruguay lidera el mercado de los sueros en nuestro país con un producto innovador para su época, logrando imponer un nuevo estándar de seguridad para los pacientes uruguayos. En los siguientes años logra desarrollarse ya con sus divisiones actuales: División Pharma, División Médica y Servicio Técnico.
      </p>
      <p>
        Nuestra propuesta busca llevar soluciones a instituciones y personal de salud de nuestro país con productos innovadores y confiables que mejoran la calidad de vida de sus pacientes.
      </p>
      <p>
        Es por esto que cada día buscamos trabajar más cerca a los profesionales de la salud vinculados en el campo. Con la confianza de siempre, con la propuesta del futuro.
      </p>
      <p>
        <strong>Somos calidad, somos tecnología, somos servicio.</strong>
        <br /><br /><br />
      </p>
    </div>
  </div>
</div>
