<header class="header-area header-style-one">
  <div class="header-middle-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3  col-sm-2 col-xs-6">
          <div class="logo">
            <h3>
              <a routerLink="/">
                <img src="./assets/logo.png">
              </a>
            </h3>
          </div>
        </div>
        <div class="col-md-9 col-sm-10 hidden-xs">
          <div class="menu-area">
            <nav>
              <ul class="main-menu clearfix">
                <li>
                  <a routerLink="empresa">Empresa</a>
                </li>
                <li>
                  <a routerLink="productos">Productos</a>
                </li>
                <li>
                  <a routerLink="marcas">Marcas</a>
                </li>
                <li>
                  <a routerLink="servicio-tecnico">Servicio Técnico</a>
                </li>
                <li>
                  <a routerLink="noticias">Noticias</a>
                </li>
                <li>
                  <a routerLink="contacto">Contacto</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>
