<footer class="footer-area text-left">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/footer-copy.png">
        <br /><br />
        <small>Copyright &copy; 1987-2020. Todos los derechos reservados.</small>
      </div>
      <div class="col-md-4">
        <a routerLink="/empresa">
          <small>EMPRESA</small>
        </a> <br/>
        <a routerLink="/productos">
          <small>PRODUCTOS</small>
        </a> <br/>
        <a routerLink="/marcas">
          <small>MARCAS</small>
        </a> <br/>
        <a routerLink="/servicio-tecnico">
          <small>SERVICIO TÉCNICO</small>
        </a> <br/>
        <a routerLink="/noticias">
          <small>NOTICIAS</small>
        </a> <br/>
        <a routerLink="/contacto">
          <small>CONTACTO</small>
        </a>
      </div>
      <div class="col-md-4 text-right address">
        <p>
          <small>
            <strong>Bioxel Pharma & Medical Tech</strong>
          </small>
        </p>
        <p>
          <small>Francisco Simón 2232 esquina Cardal</small>
        </p>
        <p>
          <small>CP. 11300, Montevideo, Uruguay</small>
        </p>
        <p>
          <small>bioxel@bioxel.com.uy</small>
          <br /><br />
        </p>
        <p>
          <small>T. &nbsp;&nbsp; +598 2483 9070 int. 110</small>
        </p>
        <p>
          <small>F. &nbsp;&nbsp; +598 2483 9070 int. 108</small>
        </p>
      </div>
    </div>
  </div>
</footer>
