<app-page-title title="Contacto"></app-page-title>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="erika-standard-row white-bg contact-style-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="area-heading area-heading-style-two text-center">
                        <h2 class="area-title">Say Hello</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Contact From Start -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-option">
                        <div class="address-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="address-content">
                            <p>Address : No 221B Down street</p>
                            <p>Landon, United Kingdom.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-option">
                        <div class="address-icon">
                            <i class="fa fa-phone-square"></i>
                        </div>
                        <div class="address-content">
                            <p>Phone 1: 0(1234) 567 890</p>
                            <p>Phone 2: 0(987) 567 890</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-contact-option">
                        <div class="address-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="address-content">
                            <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                            <a href="mailto:admin@yourdomain.com">yourname@yourdomain.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact-page-area">
                    <form id="erika-contact-form" action="mail.php" method="post" name="erika_message_form" class="contcat-form  text-center">
                        <div class="col-md-6">
                            <div class="form-head fix">
                                <div class="marg-area">
                                    <input type="text" name="your_name" placeholder="Your Name" required>
                                </div>
                                <div class="marg-area">
                                    <input type="email" name="your_mail" placeholder="Your Email" required>
                                </div>
                                <div class="marg-area">
                                    <input type="text" name="your_subject" placeholder="Subject" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="message-box-area">
                                <textarea name="your_message" class="text-area" placeholder="Message" required></textarea>
                                <input type="submit" class="btn-submitt button" value="Send message">
                            </div>
                        </div>
                    </form>
                    <div class="erika-form-send-message"></div>
                </div>
                <!-- Contact From End -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="erika-map"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
