<app-page-title title="Servicio técnico"></app-page-title>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <br /><br />
        <strong>Cursos de capacitación</strong>
      </h4>
      <p>
        Para capacitar a profesionales de la salud brindamos cursos nacionales e internacionales. Los cuales son dictados por profesionales enviados por nuestras representadas.
      </p>
    </div>
    <div class="col-xs-12">
      <h4>
        <br /><br />
        <strong>Servicio Técnico de Tecnología Médica</strong>
      </h4>
      <p>
        Le brindamos servicio técnico las 24 horas los 365 días del año.
      </p>
      <p>
        Contamos con técnicos propios, formados tanto localmente como en el exterior, por nuestras empresas representadas.
      </p>
      <p>
        Vamos a todo el país, donde usted nos requiera, en forma rápida y eficiente.
      </p>
      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
